<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 接口式开发 namespace名称空间；接口的全类名 标签中的id是： 唯一标识 resultType是： 返回值类型 #｛id｝从传递的参数中取出id -->
<mapper namespace="com.atguigu.mybatis.dao.EmployeeMapper">

	<select id="getEmployeeById" resultType="com.atguigu.mybatis.bean.Employee" 
	databaseId="mysql">
		select email,last_name,id,gender from tbl_employee where id = #{id}
	</select>
	
	
	<select id="getEmployeeById" resultType="com.atguigu.mybatis.bean.Employee" 
	databaseId="oracle">
		select EMAIL email ,LAST_NAME lastName,EMPLOYEE_ID  id
		 from EMPLOYEES 
		 where EMPLOYEE_ID = #{id}
	</select>
</mapper>