<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.atguigu.servlet.HelloServlet</servlet-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</servlet>
	
    <context-param>
    	<param-name>age</param-name>
    	<param-value>18</param-value>
    </context-param>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
</web-app>